@import '../abstracts/variables';

.authFormBody {
	width: 60%;
	margin: 15% auto auto;

	h1 {
		color: $color-primary;
	}

	label {
		color: $color-light-1;
		padding: 5px;
	}

	a {
		color: $color-primary;
		float: right;
	}

	input[type='email'],
	input[type='password'],
	.authSubmit {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 2px solid $color-secondary;
		border-radius: 4px;
	}

	input[type='email'],
	[type='password'] {
		background-color: $color-secondary-light;
	}

	.authSubmit {
		color: $color-light-1;
		font-size: 120%;
		text-align: center;
		background-color: $color-primary;
		text-decoration: none;
	}

	.authError {
		color: $color-light-1;
		background-color: $color-danger;
		padding: 5px;
		width: 100%;
		box-sizing: border-box;
		display: none;
	}

	input[type='checkbox'] {
		accent-color: $color-primary;
		vertical-align: middle;
		height: 1.3em;
		width: 1.3em;
	}
}

.authBody {
	.authSubmit {
		color: $color-light-1;
		font-size: 120%;
		text-align: center;
		background-color: $color-primary;
		text-decoration: none;
	
		width: 30%;
		float: right;
		padding: 12px 20px;
		margin: 10% 10%;
		box-sizing: border-box;
		border: 2px solid $color-secondary;
		border-radius: 4px;
	}
}
