@import '../abstracts/variables';

.container {
    width: 30%;
}

h1 {
    color: $color-primary;
}

body {
    background-color: $color-secondary;
    margin-left: 20px;
}

.auth-error {
    color: $color-ligth-1;
    background-color: $color-danger;
    padding: px;
    width: 100%;
}

label {
    color: $color-ligth-1;
    padding: 5px;
}

a {
    color: $color-primary;
}

input[type=email], input[type=password], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}