// Colors
$color-primary: #00b5ac;
$color-secondary: #242d4e;
$color-danger: #f04d46;
$color-warning: #f6de00;
$color-dark-1: #000000;
$color-dark-2: #111427;
$color-ligth-1: #ffffff;
$color-ligth-2: #f9fafb;
$color-ligth-3: #f3f3f6;
$color-ligth-4: #d1d3db;
$color-ligth-5: #9ca0af;
$color-ligth-6: #6b6f80;
$color-secondary-light: #4F587B