@import '../abstracts/variables';

.authBody {
	background: url('../../assets/img/AuthBg.png') no-repeat left center fixed;
	background-color: $color-secondary;
	background-size: contain;
	height: 100vh;
}

.authForm {
	width: 50%;
	float: right;
}
