@import '../abstracts/variables';

.profileLinks {
	float: left;
	width: 30%;
	text-align: center;
}

.profileContent {
	float: left;
	width: 60%;
}

.profileHeader {
	margin-top: 10vh;
	margin-left: 20vh;
	margin-bottom: 5vh;
}
