.addUserButton{
	padding: 0.8em;
	color: white;
	border-radius: 10px;
	border-width: 1px;
	background-color: #4CAF50;
	border-color: transparent ;
	cursor: pointer;
	outline: none;
	margin-right: 16%;
}