@import '../abstracts/variables';

header {
	width: 100%;
	height: 100px;
	left: 0;
	top: 0;

	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(25px);

	display: flex;
	flex-direction: row;
}

img {
	position: relative;
	width: 150px;
	height: 10em;
	left: 80px;
	top: -25px;
}
