@import '../abstracts/variables';

header {
	width: 100%;
	height: 4.5em;
	position: -webkit-sticky; /* Safari */
	position: fixed;
	top: 0;
	background: $color-light-transparent;
	backdrop-filter: blur(50px);
	z-index: 3;
}

.logo {
	float: left;

	img {
		padding: 1.25em 11em;
		height: 2em;
	}
}

.mainMenu {
	float: right;
	display: flex;
	flex-direction: row;
	padding: 0.5em 10em;

	img {
		border-radius: 100%;
		height: 3.5em;
		box-shadow: 0 0 20px -5px $color-dark-2;
		z-index: 2;
		position: absolute;
	}

	.mainMenuContext {
		padding: 0.5em 1em 0.5em 3em;
		z-index: 1;
		margin: 0.5em 0 0.5em 2em;
		background-color: $color-light-1;
		display: flex;
		flex-direction: row;
		border-radius: 12px;

		svg {
			padding: 0 0 0 1em;
		}
	}
}

.none {
	margin: 4.5em 0;
}

@media screen and (max-width: 640px) {
	.logo img {
		padding: 1.25em 0.5em;
	}
	.mainMenu {
		padding: 0.5em 0;
	}
}

@media screen and (min-width: 640px) and (max-width: 725px) {
	.logo img {
		padding: 1.25em 2.5em;
	}
	.mainMenu {
		padding: 0.5em 0.5em;
	}
}

@media screen and (min-width: 725px) and (max-width: 1125px) {
	.logo img {
		padding: 1.25em 5em;
	}
	.mainMenu {
		padding: 0.5em 4em;
	}
}

@media screen and (min-width: 1125px) and (max-width: 1280px) {
	.logo img {
		padding: 1.25em 7.5em;
	}
	.mainMenu {
		padding: 0.5em 7.5em;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1725px) {
	.logo img {
		padding: 1.25em 7.5em;
	}
	.mainMenu {
		padding: 0.5em 6.5em;
	}
}