@import "../abstracts/variables";

.table table,.table th,.table td{
	border: solid;
	border-collapse: collapse;
	border-color: $color-secondary-transparent;
	border-width: 1px;
	text-align: left;
	font-size: small;
}

.table th,.table td{
	padding: 0.2em 1em;

}

.table th{
	background-color: $color-secondary-light;
	color: white;
}

.table td{
	background-color: white;
}

.table{
	width: 100%;
}

.table table{
	width: 100%;
	border: none;
	margin-bottom: 1em;
}

.table .noBorder{
	border: none;
	background: none;
	width: 40px;
}

.table .icons{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}


.table .visible{
	visibility: visible;
}

.table .pageButtons{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	margin: auto;
	padding-right: 40px;

	& button{
		border: none;
		background: none;
		cursor: pointer;
	}


	& p{
		margin: 2%;
		white-space: nowrap;
	}

}.popup-overlay{
    margin-top: 8vh;
    margin-left: 25%;
    background-color: $color-secondary-transparent;
}

.modalDelete{
    position: relative;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: $color-secondary;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 8vh;

}

.modalDelete .content{
    position: relative;
    text-align: left;
    border: none;

    h3{
        font-size: 1.5em;
        text-align: center;
        background-color: $color-secondary;
        color: white;
    }

    .header{
        width: 100%;
    }
}

.modalDelete .info{
    margin: 2vh 6vw;
    display: flex;
    flex-direction: column;

    input{
        font-family: 'Poppins', serif;
    }

    p{
        margin-bottom: 0.5em;
    }

    p label{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .formInfo{
        margin-right: 1em;
    }
    
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .invalidEmail {
        color: $color-danger;
        font-size: small;
    }        
}

.modalDelete .actions{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;

    button{
        padding: 0.8em;
        color: white;
        border-radius: 10px;
        border-width: 1px;
        border-color: transparent ;
        cursor: pointer;
        outline: none;
    }

    .blue{
        background-color: $color-primary;
    }

    .red{
        background-color: $color-danger;
    }
}


