@import "../abstracts/variables";

.sideBar{
    background-color: $color-secondary;
    height: 92vh;
    color: white;
}

.infoSideBar h4{
    padding-top: 3em;
    margin-bottom: 3em;   
}

.sideBar ul{
    margin-left: 1em;
}


.sideBar .infoSideBar{
    margin-left: 2em
}

.sideBar .marcador{
    padding: 0.5em 2em;
    border-radius: 15px 0px 0px 15px;
    margin-bottom: 2.5em;

    &:has(.active){
        background-color: $color-secondary-light;
    }
}

.enlace{
    text-decoration: none;
}

.sideBar a{
    text-decoration: none;
    color: white;

    &:link{
        text-decoration: none;
        color: white;
    };
      
    &:visited {
        text-decoration: none;
        color: white;
    };
    
    &:hover {
        text-decoration: none;
        color: white;
    };
    
    &:active {
        text-decoration: none;
        color: white;
    };
}