@import "../abstracts/variables";

.sideBar{
    padding-top: 3em;
    background-color: $color-secondary;
    height: 90vh;
    color: white;
}

.sideBar h4{
    margin-bottom: 3em;  
    font-size: 1.25em; 
}

.sideBar ul{
    margin-left: 0.5em;
}

.sideBar .infoSideBar{
    margin-left: 2.5em
}

.sideBar .marcador:has(.active){
    background-color: #4F587B;
    margin-left: 1em;
}

.sideBar .marcador{
    margin-bottom: 3em;
    padding: 2% 2em;
    border-radius: 15px 0px 0px 15px;
}

.enlace{
    text-decoration: none;
}

.sideBar a{
    text-decoration: none;
    color: white;

    &:link{
        text-decoration: none;
        color: white;
    };
      
    &:visited {
        text-decoration: none;
        color: white;
    };
    
    &:hover {
        text-decoration: none;
        color: white;
    };
    
    &:active {
        text-decoration: none;
        color: white;
    };
}
