.userManagment {
	padding-top: 4%;
	width: 80%;
	margin: auto;
}

.userManagment .upTable{
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	align-items: center;
	justify-content: space-between;
}

.userManagment table,.userManagment th,.userManagment td{
	border: solid;
	border-collapse: collapse;
	border-color: #B9B9B9;
	border-width: 1px;
	text-align: left;
	font-size: small;
}

.userManagment th,.userManagment td{
	padding: 0.2em;
	padding-left: 1em;

}

.userManagment th{
	background-color: rgba(224, 224, 224, 0.671);
}

.userManagment td{
	background-color: white;
}

.userManagment .table{
	width: 100%;
}

.userManagment table{
	width: 100%;
	border: none;
	margin-bottom: 1em;
}

.userManagment .noBorder{
	border: none;
	background: none;
}

.userManagment .icons{
	display: flex;
	width: 40%;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.userManagment .pageButtons{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 35%;
	float: right;

	& button{
		border: none;
		background: none;
		cursor: pointer;
	}


	& p{
		margin: 2%;
	}
}
