.userManagment {
	padding-top: 4%;
	width: 80%;
	margin: auto;
}

.userManagment .upTable{
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	align-items: center;
	justify-content: space-between;
}

.userManagment .addUser{
	padding: 0.8em;
	color: white;
	border-radius: 10px;
	border-width: 1px;
	background-color: #4CAF50;
	border-color: transparent ;
	cursor: pointer;
	outline: none;
	margin-right: 16%;
}

.userManagment table,.userManagment th,.userManagment td{
	border: solid;
	border-collapse: collapse;
	border-width: 1px;
}

.userManagment th,.userManagment td{
	padding: 0.2em
}

.userManagment .table{
	width: 100%;
}

.userManagment table{
	width: 100%;
	border: none;
	margin-bottom: 1em;
}

.userManagment .noBorder{
	border: none;
}

.userManagment .icons{
	padding-left: 1em;
	display: flex;
	width: 40%;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.userManagment .pageButtons{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 35%;
	float: right;

	& button{
		border: none;
		background: none;
		cursor: pointer;
	}


	& p{
		margin: 2%;
	}
}
