.userManagment {
	padding-top: 4%;
	width: 80%;
	margin: auto;
}

.userManagment .upTable{
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	align-items: center;
	justify-content: space-between;
}