@import '../../../sass/abstracts/variables';

.seatMap {
	fill: $color-primary;
	cursor: pointer;

	&:hover {
		stroke-width: 0.5em;
		stroke: $color-primary-transparent;
	}
	&:active {
		fill: #4f587b;
	}
}

.you {
	fill: $color-secondary;
}

.disponible {
	fill: $color-primary;

	&:hover {
		border: 20px solid #000000;
	}

	&:active {
		fill: #4f587b;
	}
}

.reservado {
	fill: $color-danger;
}
