@import '../../abstracts/variables';

.mapBody {
	background-color: $color-light-1;
	width: 56em;
	height: 20em;

	border-radius: 16px;
	margin: 3em 8em;
	padding: 2em;

	img {
		width: 45em;
		margin: 1em 0;
	}

	.Legend {
		display: flex;
		flex-direction: row;

		div {
			margin: 0 3em 0 2em;
			display: flex;
			flex-direction: row;

			img {
				width: 2.5em;
			}

			p {
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
			}
		}
	}
}
