@import '../../../sass/abstracts/variables';
/*
.seatMap:hover {
  fill: $color-danger;
}

.boxMap:hover {
  fill: $color-secondary;
}

.roomMap:hover {
  fill: $color-warning;
}
*/

.disponible {
	fill: $color-primary;
}

.reservado {
	fill: $color-danger;
}
